a:link {
    color: aqua;
}

a:visited {
    color: lawngreen;
}
a:hover {
    color: salmon;
}

.class1 {
  font-size: 20px;
  font-family: arial;
  color: teal;
  font-weight: 900;
  text-align: right;
  text-transform: lowercase;
}
.class2 {
  font-size: 8mm;
  font-family: verdana;
  color: thistle;
  font-style: italic;
  text-align: center;
  text-transform: capitalize;
}
.class3 {
  font-size: 20pt;
  font-family: helvetica;
  color: silver;
  text-decoration-line: underline;
  text-align: justify;
  text-transform: uppercase;
  text-indent: 30pt;
}
.class4 {
  font-size: 20pt;
  font-family: arial;
  font-style: italic;
  color: tan;
  text-shadow: 2px 2px 1px tomato;
  background-color: white;
}
.class5 {
  font-size: 20pt;
  font-family: arial;
  font-style: italic;
  color: violet;
  text-shadow: 2px 2px 1px rgb(243, 21, 21);
  background-color: black;
}
.class6 {
  font-size: 20pt;
  font-family: arial;
  font-style: normal;
  color: black;
  letter-spacing: -2.5pt;
}
.class7 {
  font-size: 20pt;
  font-family: arial;
  font-style: normal;
  color: rgb(22, 119, 245);
  letter-spacing: -25pt;
  text-align: center;
  font-weight: 900;
}
.class8 {
  font-size: 20pt;
}
.class9 {
  font-size: 10mm;
}
.class10 {
  font-size: 5vw;
}
.class11 {
  background: linear-gradient(to left, blue, green);
  font-size: 10mm;
  letter-spacing: 5pt;
  text-align: center;
}
.class12 {
  font-size: 10mm;
  border-style: dotted;
  border-color: blue;
  text-align: center;
}
